@font-face
{
        font-family: RobotoThin;
        src: url("fonts/Roboto-Thin.ttf");
}
@font-face
{
        font-family: RobotoLight;
        src: url("fonts/Roboto-Light.ttf");
}

html 
{
        text-align: center;
        font-family: RobotoThin, sans-serif;
        background-image: url("images/wallpaper.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        color: white;
}

h1, h2
{
        margin: 1%;
        font-weight: 100;
}
 
h1
{
        font-size: 50pt;
}

h2 
{
        font-size: 30pt;
}

input.googlebar
{
        background-color: rgba(0, 0, 0, 0.25);
        padding: 2px 0px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        display: inline-block;
        font-family: RobotoLight, sans-serif;
        font-size: 20pt;
        color: white;
        text-align: center;
        width: 50%;

        transition: background-color .4s;
        -webkit-transition: background-color .4s;
        -moz-transition: background-color .4s;
}

input.googlebar:hover
{
        background-color: rgba(255, 255, 255, 0.2);
}

input.googlebar:focus
{
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
}

ul
{
        display: inline-block;
        float: inherit;
        width: 20%;
        margin: 1%;
        padding: 0;
        list-style: none;
}

ul.menu 
{
        box-shadow: 2px 2px 2px #000;
}

ul.submenu
{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgba(255, 255, 255, .2);
}

a
{
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        opacity: .5;
}

a:hover 
{
        color: white;
        background-color: rgba(0, 0, 0, .25);
}

a.menuTitulo 
{
        color: rgba(0, 0, 0, .8);
        background: white;
        text-align: left;
        font-family: RobotoLight, sans-serif;
        font-weight: bolder;
        font-size: 25pt;
        height: 108px;

        transition: all .5s ease;
}

a.page 
{
        font-size: 12pt;
        opacity: 0.5;

        transition: all .2s ease;
}

a.page:hover 
{
        font-weight: bold;
        opacity: 1; 
}

ul > li:hover > a.menuTitulo 
{
        
        opacity: .75;
}