body 
{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        background-image: url("wallpaper.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        color: white;
}

h1, h2
{
        margin: 1%;
}
 
h1
{
        font-size: 50pt;
}

h2 
{
        font-size: 30pt;
}
 
br 
{
        display: block;
        margin: 0px;
}

h1, h2, .googlebar, .dropDown, .dropDownButton
{
        font-weight: 100;
}

.googlebar
{
        background-color: rgba(0, 0, 0, 0.25);
        padding: 2px 0px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-size: 20pt;
        text-align: center;
        width: 50%;

        transition: background-color .4s;
        -webkit-transition: background-color .4s;
        -moz-transition: background-color .4s;
}

.googlebar:hover
{
        background-color: rgba(255, 255, 255, 0.2);
}

.googlebar:focus
{
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
}
/*
.dropDown
{
        position: relative;
        display: inline-block;
        margin: 1%;
}

.dropDownButton
{
        background-color: #4CAF50;
        min-width: 320px;
        min-height: 120px;
        font-size: 20pt;
        border: none;
        cursor: pointer;
}

.chan, .entertainment, .games, .misc
{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 320px;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
}

.chan a, .entertainment a, .games a, .misc a
{
        color: black;
        text-decoration: none;
        display: block;
        min-height: 48px;
        font-size: 20pt;

        transition: all .1s;
        -webkit-transition: all .1s;
        -moz-transition: all .1s;
}

.chan a:hover, .entertainment a:hover, .games a:hover, .misc a:hover
{
        background-color: #f1f1f1;
}

.dropDown:hover .chan, .dropDown:hover .entertainment, .dropDown:hover .games, .dropDown:hover .misc
{
        display: block;
        background-color: #3e8e41;
}
*/

::-webkit-scrollbar {display: none;}
ul
{
        display: block;
        width: 35%;
        margin: 15% auto;
        padding: 0;
        list-style: none;
}
ul.container {box-shadow: 0px 0px 0px #000;}
ul.submenu
{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        background:rgba(220,219,219,.07);
}
a
{
        display: block;
        padding: 10px;
        color: #EEE;
        text-decoration: none;
        transition: all .3s ease;
        opacity: .5;
}
a:hover {color: #fff;transition: all .3s ease;}
a.parent {transition: all .3s ease;color: #555;background: #EEE;text-align: center;}
a.tab {transition: all .3s ease;opacity: 0.5;}
a.tab:hover {transition: all .3s ease;text-indent: 5px;opacity: 1; }
ul > li:hover > a.parent {transition: all .3s ease;opacity: .8;}